build/*
dist/*
pytest_easy.egg-info/*
__pycache__
*.bat
!run_mandatory_tests.bat
!run_tests.bat
!run_tests_isolated.bat
settings.json
settings.json
.env*
!.env.example
test_files/*
!test_files/test.txt
!test_files/tests.log